<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Title }}" />

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="{{ (resources.Get "sass/main.scss" | toCSS).Permalink }}" rel="stylesheet" />
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="/posts/index.xml" />
<link rel="shortcut icon" href="/images/favicon.gif" />
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css' />

<script src="//fast.eager.io/SHvf4DiSoU.js"></script>
<script src="/scripts/modernizr-2.0.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
<script src="/scripts/octopress.js" type="text/javascript"></script>
<script src="/scripts/chronicle.js" type="text/javascript"></script>
