{{ define "main" }}
<div class="blog-index">
  {{ range (.Paginate (where site.RegularPages "Type" "in" "posts") 5).Pages }}
  <article>
    <header>
      <h1 class="entry-title"><a href="{{ .Permalink }}">{{ .Title | title }}</a></h1>
      <p class="meta">
        <span class="glyphicon glyphicon-calendar"></span> {{ .Date | dateFormat "January 2, 2006" }}
      </p>
    </header>

    <div class="entry-content">{{ .Summary }}</div>


    {{ if .Truncated }}
    <footer>
      <a rel="full-article" href="{{ .Permalink }}">Read on &#8594;</a>
    </footer>
    {{ end }}
  </article>
  {{ end }}

  {{ with .Paginator }}
  <div class="pagination">
    {{ if .HasNext }}
      <a class="prev basic-alignment left" href="{{ .Next.URL }}">&larr; Older</a>
    {{ end }}

    {{ if .HasPrev }}
      <a class="next basic-alignment right" href="{{ .Prev.URL }}">Newer &rarr;</a>
    {{ end }}

    <a class="basic-alignment center center-text" href="/archive.html">Blog Archives</a>
  </div>
  {{ end }}

</div>
{{ end }}
